body {
    background: linear-gradient(to right, red, blue);
    display: flex;
    justify-content: center;
}

#maindiv {
    width: 350px;
    height: fit-content;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 100px;
    overflow: hidden;
}

#maindiv-head {
    padding: 5%;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#maindiv-head-txt {
    width: 80%;
    border: 1px solid aqua;
    height: 45px;
    border-radius: 10px;
    outline: none;

}

#add-btn {
    width: 50px;
    height: 45px;
    border-radius: 10px;
    background-color: #236AEAFF;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

#maindiv-body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.deletetask {
    width: 50px;
    height: 35px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todolist {
    border-radius: 10px;
    background-color: #C3DCE3FF;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cleartask {
    padding: 3% 3%;
    border-radius: 20px;
    color: #fff;
    background-color: red;
    cursor: pointer;
    width: 90%;
    height: 40px;
    margin-bottom: 3%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:500px) {
    #maindiv {
        width: 95%;
    }

    #maindiv-head {
        padding: 1%;
        height: 100px;
    }
}